:root {
  --red-color: rgb(141, 43, 49);
  --background-color: rgb(255, 253, 245);
}


.countdown-component-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.6rem;
}

.countdown-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-value {
  font-size: 2rem;
  font-weight: bold;
  color: var(--red-color);
  line-height: 1;
}

.countdown-value.highlight {
  color: var(--red-color);
}

.countdown-label {
  font-size: 0.5rem;
  color: var(--red-color);
  margin-top: 0.25rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.countdown-separator {
  font-size: 3rem;
  color: var(--red-color);
  line-height: 1;
  padding: 0 0.1rem;
  align-self: baseline;
}
