/* .music-player {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
} */

.music-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button{
    background-color: transparent;
    border: 0px;
}

.music-button {
  width: 50px;
}
.mute-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.music-button img {
  width: 100%;
  height: 100%;
}

.music-button.playing {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.volume-slider {
  width: 80px;
  height: 4px;
  cursor: pointer;
}
