.audio-control {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2c202b;
  padding: 8px 12px;
  border-radius: 30px;
  width: fit-content;
}

.icon {
  width: 35px;
  height: 100%;
  color: white;
  cursor: pointer;
}

.volume-slider {
  -webkit-appearance: none;
  width: 100px;
  height: 6px;
  border-radius: 10px;
  background: white;
  outline: none;
  cursor: pointer;
}

/* Personaliza el thumb del slider */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #161616;
  cursor: pointer;
  margin-top: -4px;
}

.volume-slider::-moz-range-thumb {  
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #b4559e;
  cursor: pointer;
}
