.timeline-section {
  position: relative;
  padding: 1rem;
  max-width: 500px;
  margin: auto;
}

.timeline-line {
  position: absolute;
  left: 70px;
  top: 45px;
  width: 9px;
  background-color: #7b3f00;
  transition: height 0.5s ease-in-out;
  z-index: 1;
  border-radius: 3px;
}

.timeline-items {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-left: 5px;
  position: relative;
  z-index: 2;
  justify-content: space-evenly;
}

.timeline-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.sombrero {
  width: 110px;
  height: auto;
}

.icono {
  width: 60px;
  height: auto;
}

.evento-info {
  flex: 1;
}

.hora {
  font-weight: bold;
  font-size: 0.9rem;
  display: block;
}

.titulo {
  font-style: italic;
  font-size: 1rem;
}
