/* src/styles/fonts.css */

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/Fonts/Cinzel-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IndieFlower';
  src: url('/assets/Fonts/IndieFlower.ttf');
  font-weight: normal;
  font-style: normal;
}


/* Clases personalizadas */
.font-cinzel {
  font-family: 'Cinzel', cursive;
}

.font-violeta-small {
   font-family: 'VioletaScript', cursive;
}

.font-indie-flower
{
  font-family: 'IndieFlower'
}

.large-size {
  font-size: 3rem
}
.upper-size {
    font-size: 6rem;
}
