
@font-face {
  font-family: 'Serif-Bold';
  src: url('/assets/Fonts/SourceSerif4-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Serif-Regular';
  src: url('/assets/Fonts/SourceSerif4-Regular.otf') format('opentype'); 
}


.font-serif-bold {
  font-family: 'Serif-Bold';
}

.font-serif-regular {
  font-family: 'Serif-Regular';
}
