
/*  */

:root {
 --primary-color: #a5a8aa;
 --secondary-color:#ee778c;
 --tertiary-color:white;
 --gradient-color:#fae4ef;

  --background-color: #000000;

  --font-xs: clamp(0.8rem, 1.2vw, 1rem);
  --font-lg: clamp(2rem, 3vw, 2.5rem);
  --font-md: clamp(1.5rem, 2.5vw, 1.8rem);
  --font-sm: clamp(1.2rem, 2vw, 1.5rem);
  --font-sl: clamp(1rem, 1.5vw, 1.3rem);
  --font-xl: clamp(4rem, 5vw, 5rem);

}

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-xs{
  font-size: var(--font-xs);
}
.font-lg{
  font-size: var(--font-lg);
}
.font-md{
  font-size: var(--font-md);
}
.font-sm{
  font-size: var(--font-sm);
}
.font-sl{
  font-size: var(--font-sl);
}
.font-xl{
  font-size: var(--font-xl);
}

@keyframes fallAndSpin {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: .6;
  }
  80% {
    opacity: .6;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}

/* === ANIMACIONES === */

/* De abajo hacia arriba */
@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* De arriba hacia abajo */
@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* De izquierda hacia derecha */
@keyframes slideRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* De derecha hacia izquierda */
@keyframes slideLeft {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appers {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* === CLASES REUTILIZABLES === */

.animate-slide-up {
  animation: slideUp 1.6s 1s ease-out forwards;
}

.animate-slide-down {
  animation: slideDown 1.6s 1s ease-out forwards;
}

.animate-slide-left {
  animation: slideLeft 1.6s 1s ease-out forwards;
}

.animate-slide-right {
  animation: slideRight 1.6s 1s ease-out forwards;
}
.animate-appers{
  animation: appers 2s ease-in forwards;
}
.animate-fall-and-spin{
  animation: fallAndSpin 6s linear infinite;
}

.opacity-0{
  opacity: 0;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  will-change: opacity, transform; /* mejora rendimiento */
}



.primary-color{
  color: var(--primary-color);
}
.secondary-color{
  color: var(--secondary-color);
}
.tertiary-color{
  color: var(--tertiary-color);
}

section {
  width: 100%;
  padding: 2rem 1rem 1rem;
}

@keyframes pop {
  0% {
    transform: scale(1);
    
  }
  60% {
    transform: scale(1.2);
   
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* .main-container{
  background-color: #000000;
  z-index: 90000;
  height: 100vh;
} */



/*--------------------------------
Hero Section
--------------------------------*/
.hero {
  background: url("/assets/Hero/background.png");
  background-size: cover;
  background-position: top;
  /* background-color: var(--background-color); */

  padding: 5%;
  position: relative;
}
.hero-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hero-elements-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3rem;
}
.hero-title-decor-container{
  flex: 1;
}
.hero-decor-image {
  width: 9rem;
  height: auto;
}
.hero-title-image {
  width: 11rem;
  height: auto;
}
.hero-elements{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  flex: 2;
}
.welcome-section-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.welcome-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.welcome-date-container {
width: 100%;
  display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.borders{
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
  padding: 5px;
}

.gift-table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.gift-table-options{
    display: flex;
    width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.gift-table-option
{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.gift-image{
  width: 8rem;
}

.confirmation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}



/*Copyright*/

.copyright {
  width: 100%;
  /* background-color: var(--primary-color); */
    background: url("/assets/Hero/background.png");
  background-size: cover;
  background-position: bottom;
 
  color: var(--secondary-color);
  font-size: 0.9rem;
  padding: 2px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* para móviles */
  max-width: 1000px;
  width: 90%;
  gap: 3px;
}

.logo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 1;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}


/*--------------------------------
Modal Styles
--------------------------------*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.521);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: scroll;
}
.modal-container{
  background-color: white;
  border-radius: 5px;
  padding-top: 5%;
}

.modal-content {
  background: url('/assets/Hero/background_modal.png');
  background-size: cover;
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

  .lista-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 700px;
  }
  ul { margin-bottom: 12px; padding-left: 20px; }
li{ margin-bottom: 4px;}
.boton:hover{
  cursor: pointer;
}

.decors-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.image-decor-big{
  width: 12rem;
}
.image-decor-med{
  align-self: flex-end;
  height: 9rem;
}
