
/*  */

:root {
 --primary-color: #bca24f;
 --secondary-color:#a5a8aa;
 --tertiary-color:white;
 --gradient-color:#fae4ef;

  --background-color: #000000;

  --font-xs: clamp(0.8rem, 1.2vw, 1rem);
  --font-lg: clamp(2rem, 3vw, 2.5rem);
  --font-md: clamp(1.5rem, 2.5vw, 1.8rem);
  --font-sm: clamp(1.2rem, 2vw, 1.5rem);
  --font-sl: clamp(1rem, 1.5vw, 1.3rem);
  --font-xl: clamp(4rem, 5vw, 5rem);

}

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-xs{
  font-size: var(--font-xs);
}
.font-lg{
  font-size: var(--font-lg);
}
.font-md{
  font-size: var(--font-md);
}
.font-sm{
  font-size: var(--font-sm);
}
.font-sl{
  font-size: var(--font-sl);
}
.font-xl{
  font-size: var(--font-xl);
}

@keyframes fallAndSpin {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: .6;
  }
  80% {
    opacity: .6;
  }
  100% {
    transform: translateY(100vh) rotate(720deg);
    opacity: 0;
  }
}

/* === ANIMACIONES === */

/* De abajo hacia arriba */
@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* De arriba hacia abajo */
@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* De izquierda hacia derecha */
@keyframes slideRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* De derecha hacia izquierda */
@keyframes slideLeft {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes appers {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* === CLASES REUTILIZABLES === */

.animate-slide-up {
  animation: slideUp 1.6s 1s ease-out forwards;
}

.animate-slide-down {
  animation: slideDown 1.6s 1s ease-out forwards;
}

.animate-slide-left {
  animation: slideLeft 1.6s 1s ease-out forwards;
}

.animate-slide-right {
  animation: slideRight 1.6s 1s ease-out forwards;
}
.animate-appers{
  animation: appers 2s ease-in forwards;
}
.animate-fall-and-spin{
  animation: fallAndSpin 6s linear infinite;
}

.opacity-0{
  opacity: 0;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
  will-change: opacity, transform; /* mejora rendimiento */
}



.primary-color{
  color: var(--primary-color);
}
.secondary-color{
  color: var(--secondary-color);
}
.tertiary-color{
  color: var(--tertiary-color);
}

section {
  width: 100%;
  padding: 2rem 1rem 1rem;
}

/*--------------------------------
Envelop
--------------------------------*/
.envelope-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  cursor: pointer;
  z-index: 9999;
  transition: transform 1s ease-in-out;
  /* background: url('/assets/Envelope/images/background.jpg');
  background-size: cover;
  background-position: center; */
  background-color: var(--background-color);
}

.envelope-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 40px;
}

.envelope-overlay.opened {
  transform: translateY(-100%);
}

.clickeable {
  font-weight: 700;
  animation: pop 1.5s ease infinite;
}

@keyframes pop {
  0% {
    transform: scale(1);
    
  }
  60% {
    transform: scale(1.2);
   
  }
  100% {
    transform: scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}




/*--------------------------------
Hero Section
--------------------------------*/
.hero {
  /* background: url("/assets/Hero/marco.png");
  background-size: cover;
  background-position: center; */
  background-color: var(--background-color);
  overflow: hidden;
  height: 120vh;
  padding: 5%;
  position: relative;
}
.hero-element{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-element-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-element-logos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 7.5rem;

}
.hero-logo{
  width: 5rem;
}
.hero-date{
  width: 19rem;
}

.hero-image-title {
  width: 10rem
}
.hero-image-boton {
  width: 11rem
}
.hero-image-decor {
  width: 15rem;
}
.hero-image-subtitle {
  width: 17rem;
}
.hero-container{
  background: url("/assets/Hero/marco.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5%;
  padding-top: 4.5rem;
  gap: 2%;
}
.hero-container-title{
  padding: 1.5rem 3rem 0rem;
}

.image-decor{
  width: 5rem;
  position: absolute;
}

.bottom-right-1{
  bottom: 7%;
  right: -3%;
  width: 3rem !important;
  z-index: 1;
}
.bottom-right-2{
  bottom: -3%;
  right: -10%;
  width: 6rem !important;
  z-index: 1;
}
.top-center{
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100% !important;
  z-index: 1;
}

.top-left{
  top: -5%;
  left: -7%;
  width: 4.3rem;
  z-index: 1;
}
.top-center-decor{
  top: 0%;
  left: 50%;
  width: 50px;
  z-index: -10;
}
.top-center-decor-little{
  top: 5%;
  left: 65%;
  width: .7rem;
  z-index: -10;
}
.top-right-decor-little{
  top: 13%;
  right: 5%;
  width: 1.3rem;
  z-index: -10;
}
.top-right-decor{
  top: 20%;
  right: -2%;
  width: 2rem;
  z-index: 10;
}

.top-left-decor{
  top: -2%;
  left: 10%;
  width: 5rem;
  z-index: -10;
}

.top-right{
  top: -3%;
  right: -12%;
  width: 5rem !important;
  z-index: 1;
}

.center-right{
  top: 55%;
  right: -10%;
  width: 4.6rem !important;
  z-index: 1;
}

.center-center{
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:40px !important;
  z-index: 1;
}
.up{
  bottom: 40% !important;
  width: 40px !important;
}

.bottom-left{
  bottom: 0%;
  left: -5%;
  width: 5rem !important;
  z-index: 1;
}
.bottom-center{
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100% !important;
  z-index: 1;
}
.center-left{
  bottom: 35%;
  left: -5%;
  width: 3rem;
  z-index: 1;
}


/*--------------------------------
Music Section
--------------------------------*/
.floating-music-player {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1000; /* Siempre encima */
}

.music-player-container{
  background-color: var(--background-color);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--red-color);
  position: fixed;

  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  z-index: 1000; /* Siempre encima */
  display: fle x;
  justify-content: center;
  align-items: center;
}

.music-logo {
  width: 100%;
  transition: transform 0.3s linear;
}

.rotating .music-logo {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/*Copyright*/

.copyright {
  width: 100%;
  background-color: var(--background-color); /* no intrusivo */
  color: var(--primary-color);
  font-size: 0.9rem;
  padding: 2px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.copyright-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* para móviles */
  max-width: 1000px;
  width: 90%;
  gap: 3px;
}

.logo {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 1;
}

.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}
