
/*  */

:root {
 --primary-color: #f0a6a3;
 --secondary-color:#a5a8aa;
 --tertiary-color:white;
 --gradient-color:#fae4ef;

  --background-color: rgb(255, 253, 245);

  /* tipografía adaptable */
  --font-lg: clamp(2rem, 3vw, 2.5rem);
  --font-md: clamp(1.5rem, 2.5vw, 1.8rem);
  --font-sm: clamp(1.2rem, 2vw, 1.5rem);
  --font-sl: clamp(1rem, 1.5vw, 1.3rem);
  --font-xl: clamp(4rem, 5vw, 5rem);
}

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-lg{
  font-size: var(--font-lg);
}
.font-md{
  font-size: var(--font-md);
}
.font-sm{
  font-size: var(--font-sm);
}
.font-sl{
  font-size: var(--font-sl);
}
.font-xl{
  font-size: var(--font-xl);
}



.primary-color{
  color: var(--primary-color);
}
.secondary-color{
  color: var(--secondary-color);
}

section {
  width: 100%;
  padding: 2rem 1rem 1rem;
}

/*--------------------------------
Envelop
--------------------------------*/
.envelope-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
 
  cursor: pointer;
  z-index: 9999;
  transition: transform 1s ease-in-out;
  background: url('/assets/Envelope/images/background.jpg');
  background-size: cover;
  background-position: center;
}

.envelope-container{
  height: 80vh;
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}


.envelope-overlay.opened {
  transform: translateY(-100%);
}

.envelope-img {
  width: 320px;
  height: auto;
}

.envelope-container > .image-decor{
  position: absolute;
  width: 150px;
}
.envelope-container > .left{
  left: 10px;
  bottom: -110px;
}
.envelope-container > .rigth{
  right: 10px;
  bottom: -110px;
}
.envelope-container > .bigger-image{
  width: 200px;
}

.family-name {
  margin-bottom: 1rem;
  color: var(--tertiary-color);
  font-family: "Times New Roman", serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.clickeable {
  color: var(--red-color);
  padding-top: 10%;
  font-weight: 700;
  animation: pop 1.5s ease infinite;
}

@keyframes pop {
  0% {
    transform: scale(1);
    
  }
  60% {
    transform: scale(1.2);
   
  }
  100% {
    transform: scale(1);
  }
}




/*--------------------------------
Hero Section
--------------------------------*/
.hero {
  background: url("/assets/Hero/images/background.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 80vh;
}

.hero-image {
  width: 100%;
}
.hero-container{
  position: relative;
}
.hero-container-title{
  padding: 1.5rem 3rem 0rem;
}

.hero-container > .top-decor{
  width: 25rem;
  top:-2rem;
  left: -1rem;
  position: absolute;
} 

.hero-container > .center-decor{
  width: 20rem;
  align-self: center;
 } 

.hero-container > .left-decor,
.hero-container > .right-decor {
  width: 3rem;
  position: absolute;
  top: -2rem; 
  animation: fallAndSpin 6s linear infinite;
}

.hero-container > .left-decor {
  left: 2rem;
}

.hero-container > .right-decor {
  right: 2rem;
  animation-delay: 2s; 
}

@keyframes fallAndSpin {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(720deg);
    opacity: 0;
  }
}


.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}


.hero-title {
  font-size: var(--font-lg);
  text-align: center;
  color: var(--secondary-color);
}

.hero-main-text
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*--------------------------------
Welcome
--------------------------------*/
.welcome {
  background: url('/assets/Welcome/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4rem;
  height: 80vh;
  position: relative;
}
.welcome > .image-decor{
  position: absolute;
  width: 150px;
}
.bottom-right{
  bottom: 0px;
  right: 0px;
  width: 200px !important;
  z-index: 1;
}
.top-center{
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px !important;
  z-index: 1;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

.top-left{
  top: 0px;
  left: 0px;
  width: 70px !important;
  z-index: 1;
}
.down{
  top: 25% !important;
  animation: appear 3s ease-in-out infinite;
}

@keyframes appear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}

.top-right{
  top: 0;
  right: 0;
  width: 60px !important;
  z-index: 1;
  animation: appear 4s ease-in-out infinite;
}

.center-right{
  bottom: 40%;
  right: 5%;
  width: 70px !important;
  z-index: 1;
}

.center-center{
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px !important;
  z-index: 1;
}
.up{
  bottom: 70% !important;
  width: 40px !important;
  animation: rotate 6s linear infinite;
}

.bottom-left{
  bottom: 15%;
  left: 25%;
  width: 80px !important;
  z-index: 1;
}
.center-left{
  bottom: 40%;
  left: 10%;
  width: 40px !important;
  z-index: 1;
  animation: rotate 4s linear infinite;
}




.welcome-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.welcome-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.welcome-date-container {
width: 100%;
  display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.borders{
  border-top: 4px solid var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
  padding: 5px;
}


/*--------------------------------
Car Section
--------------------------------*/
.car-section {
  background: var(--background-color) url('/assets/CarSection/images/auto novios-8.png') no-repeat center / contain;
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------
Countdown
--------------------------------*/
.countdown {
  background-color: var(--background-color);
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-container {
  color: var(--red-color);
  font-size: var(--font-md);
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

/*--------------------------------
Gallery
--------------------------------*/
.gallery-container {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/*--------------------------------
Address
--------------------------------*/
.address {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  color: var(--red-color);
}

.address-cards-container {
  width: 100%;
  max-width: 50rem;
 
  aspect-ratio: 3/4;
  perspective: 1000px;
}

/* Flip card */
.address-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.address-card-inner.flipped {
  transform: rotateY(180deg);
}

.address-frame-front,
.address-frame-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  inset: 0;
  background: url('/assets/Address/images/marco-8.png') no-repeat center / contain;
  backface-visibility: hidden;
}

.address-direcion{
  padding: 4% 10%;
}

.address-frame-back {
  transform: rotateY(180deg);
}

.address-image{
  width: 70%;
}

.address-main-text{
  font-size: var(--font-md);
  font-weight: 800;
  padding: 1rem;
}
.adreess-secondary-text{
    font-size: var(--font-md);
  font-weight: 800;
  padding: 1rem;
}

/* --------------------------------
Agenda
--------------------------------*/
/*--------------------------------
Agenda
--------------------------------*/
.agenda {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

.agenda .header {
  width: 100%;
  text-align: center;
}

.agenda .header .main-text {
  color: var(--red-color);
  font-size: var(--font-lg);
  font-weight: 800;
}

/* Marco con fondo */
.agenda .frame {
  width: 100%;
  max-width: 600px;
  background: url('/assets/Agenda/images/marco_int.png') no-repeat center center;
  background-size: contain;
  aspect-ratio: 9/16; 
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Timeline principal */
.timeline {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 80%;
  height: 90%;
  position: relative;
  padding-top: 20%;
}

/* Línea central */
.timeline-line {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 50%;
  width: 3px;
  background-color: var(--red-color);
  transform: translateX(-50%);
}

/* Contenedor principal */
.left-elements,
.right-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex: 1;

}

/* Elementos visibles */
.left-element,
.right-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    width: 100%;
}

.title{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Flex ratios */
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
  justify-content: center;
}

/* Espaciador invisible */
.spacer {
  visibility: hidden;
  width: 100%;
}

/* Texto e imágenes */
.text {
  color: var(--red-color);
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  padding-left: 20%;
}
.image {
  width: 80px;
  height: auto;
}

.line-container{
  height: 100%;
  align-content: center;
  width: 100%;
  justify-items: right;
}

.line-container-right{
  height: 100%;
  align-content: center;
  width: 30%;
  justify-items: left;
}

.title-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.text-right {
  color: var(--red-color);
  font-size: 0.7rem;
  margin-bottom: 0.5rem;

}

/* Línea horizontal que conecta */
.left-element .line,
.right-element .line {
  width: 1.5rem;                 /* mismo ancho en todos */
  height: 2px;
  background-color: var(--red-color);
  margin-bottom: 0.5rem;
}

/* Izquierda → línea debe extender hacia la derecha */
.left-element .line {
  align-self: flex-end;        /* empuja la línea hacia la derecha */
 }

/* Derecha → línea debe extender hacia la izquierda */
.right-element .line {
  align-self: flex-start;      /* empuja la línea hacia la izquierda */
}

/*--------------------------------
GiftTable
--------------------------------*/
.gift-table{
  background-color: var(--background-color);
  min-height: 45vh;
  position: relative;
  color: var(--red-color);
}
.top-right-decor, .bottom-left-decor, .bottom-right-decor, .top-left-decor{
  position: absolute;
  pointer-events: none;
}

.top-right-decor{
  top: 0px;
  right: 0px;
}

.bottom-left-decor{
  bottom: 0px;
  left: 0px;
  transform: scaleX(-1);
}


.bottom-right-decor{
  bottom: 0px;
  right: 2%;
  transform: scaleX(-1) scaleY(-1);
}

.decor-image{
  width: 6rem;
}
.decor-elements{
  width: 9rem;
}

.elements-container{
  padding-top: 10%;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  gap: 1.5rem;
}

.gift-table-title{
  font-size: var(--font-lg);
  font-weight: 800;

}


.gift-table-text{
font-size: 0.7rem;
text-align: center;
font-weight: 700;
line-height: normal;
}


/*--------------------------------
Dresscode
--------------------------------*/
.dresscode {
  padding-top: 10%;
 width: 100%;
   min-height: 70vh;
  background: url('/assets/Address/images/marco-8.png') no-repeat center / contain;
  background-color: var(--background-color);
  background-size: 100% 100%;

}
.dresscode .elements-container {
  padding-top: 20%;
  text-align: center;
  color: var(--red-color);
}
.dresscode-title{
  font-size: var(--font-md);
  font-weight: 800;
}
.dresscode-subtitle{
  font-size: var(--font-md);
}

.dresscode-text{
font-size: 0.8rem;
text-align: center;
font-weight: 500;
line-height: normal;
}
.dresscode .decor-image{
  width: 4rem;
}
.dresscode .decor-elements{
  width: 11rem;
}
.colors-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}



/*--------------------------------
Confirmation
--------------------------------*/

.confirmation {
  background-color: var(--background-color);
  min-height: 85vh;
  position: relative;
  color: var(--red-color);
}
.confirmation-with-message{
   background-color: var(--background-color);
  min-height: 100vh;
  position: relative;
  color: var(--red-color);
}


.confirmation-frame-container {
  background: url('/assets/Confirmation/images/marco.png') no-repeat center / cover;
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
  position: relative;
}

.confirmation-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--font-sm);
  gap: 1.8rem;
  padding-top: 10%;
}

.confirmation .bottom-right-decor{
  padding-top: 5%;
}

.confirmation .bottom-left-decor{
  padding: 5%;
  pointer-events: none;
}

.confirmation-title{
  font-size: var(--font-md);
  font-weight: 800;
}
.confirmation-subtitle{
  font-size: var(--font-sm);
}

.confirmation-text{
font-size: var(--font-sl);
text-align: center;
font-weight: 500;
line-height: normal;
}

.confirmation-elements{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}

.confirmation-passes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 20%;
  width: 100%;
}

.element-title{
  font-weight: 900;
}

.confirmation-button{
  background-image: url("/assets/Confirmation/images/boton.png");
  padding: 8%;
  background-size: contain;
  background-repeat: no-repeat;
}



/*--------------------------------
Botones
--------------------------------*/
button {
  background: url('/assets/Confirmation/images/boton.png');
  border: none;
  font-size: var(--font-sm);
  cursor: pointer;
  color: var(--red-color);
  font-weight: 900;
}

button.flip-btn {
  text-decoration: underline;
  font-weight: bold;
}

button.flip-btn:hover {
  color: #a00000;
}

/*--------------------------------
Media Queries
--------------------------------*/
@media (max-width: 768px) {
  .hero-title {
    top: -2rem;
    font-size: 1.5rem;
  }

  .address-cards-container {
    max-width: 50rem;
  }

  .confirmation-frame-container {
    padding: 2rem 1rem;
  }
}

@media (max-width: 480px) {
  .hero {
    top: 3rem;
  }

  .hero-date {
    font-size: 0.8rem;
  }

  .agenda .header .image {
    width: 60px;
  }
}

/*--------------------------------
Music Section
--------------------------------*/
.floating-music-player {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1000; /* Siempre encima */
}

.music-player-container{
  background-color: var(--background-color);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--red-color);
  position: fixed;

  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  z-index: 1000; /* Siempre encima */
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-logo {
  width: 100%;
  transition: transform 0.3s linear;
}

.rotating .music-logo {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*--------------------------------
Modal Styles
--------------------------------*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--background-color);
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  position: relative;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-group {
  margin-bottom: 1.2rem;
}

.radio-group-container{
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

textarea, select, input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.form-actions button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background: var(--red-color);
  color: white;
}

.form-actions button[type="button"] {
  background: #ccc;
}
